.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: var(--color-gray);
    color: var(--color-gray-light);
    font-weight: 300;
}

.social-icons {
    margin-right: 50px;
}

.social-icons a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 30px;
    color: var(--color-primary-dark);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: var(--color-primary-dark);
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .social-icons {
        margin-right: 20px;
    }

    .social-icons a {
        margin-right: 30px;
        font-size: 20px;
        color: var(--color-primary-dark);
        display: inline-block;
        transition: transform 0.5s;
    }

    .wrapper {
        font-size: 12px;
    }
}