<div class="footer">
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/slavko-blagojevi%C4%87/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/slavko_blagojevic/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com/slavko.blagojevic" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
  </div>
  <div class="wrapper">
    <p>Copyright <i class="fa-regular fa-copyright"></i>  Slavko Blagojević</p>
  </div>
</div>