<div class="upper-part-container">
  <app-language-selector [whiteColor]="true"
                         [primaryColorIcons]="true" 
                         [gray]="true"
                         [intro]="true"
                         >
  </app-language-selector>
  <div class="title-container">
    <h1><span>Slavko</span> Blagojevic</h1>
    <p>{{ 'ap_upper_text' | translate }}</p>
  </div>
</div>