.upper-part-container {
    .title-container {
        position: relative;
        padding: 10px 0 0 0;
        text-align: center;
        color: #fff;
        font-weight: 700;
        z-index: 5;
    
        h1 {
            font-size: 45px;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    
        p {
            margin: 0;
            padding: 0;
        }
    
        span {
            color: var(--ion-color-primary);
        }

        @media only screen and (min-width: 992px) {
            padding-left: 20px;
            text-align: left;
            
            h1 {
                font-size: 80px;
            }
        
            p {
                font-size: 25px;
            }
        }
    }
    app-language-selector {
        display: flex;        
        justify-content: center;
        padding: 20px 20px 0 20px;

        @media only screen and (min-width: 992px) {
            width: 25%;
        }
    }
}