<!--MOBILE HEADER -->
<div class="mobile-header">
  <!-- Header -->
  <ion-header id="main-content">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="logo" routerLink="/home" routerDirection="root">
        <h1>SB</h1>
        <p>Slavko<br> Blagojevic</p>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Menu -->
  <ion-menu contentId="main-content" side="end">

    <ion-content class="ion-padding">
      <!--close button-->
      <div class="close-button">
        Menu
        <ion-menu-toggle>
          <ion-buttons>
            <ion-button>
              <ion-icon slot="end" slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-menu-toggle>
      </div>
      <ion-menu-toggle>
        <div class="items">
          <ion-item routerLink="/home" routerDirection="root" routerLinkActive="active-item">
            <ion-icon slot="start" name="home"></ion-icon>
            {{'ap_home' | translate }}
          </ion-item>
          <ion-item routerLink="/contact" routerDirection="root" routerLinkActive="active-item">
            <ion-icon slot="start" name="send"></ion-icon>
            {{'ap_contact' | translate }}
          </ion-item>
          <ion-item routerLink="/about" routerDirection="root" routerLinkActive="active-item">
            <ion-icon slot="start" name="information"></ion-icon>
            {{'ap_about' | translate }}
          </ion-item>
          <!-- <ion-item routerLink="/weather" routerDirection="root" routerLinkActive="active-item">
            <ion-icon slot="start" name="cloudy-night"></ion-icon>
            {{'ap_weather' | translate }}
          </ion-item> -->
        </div>
      </ion-menu-toggle>
      <app-language-selector [header]="true" [outline]="true"></app-language-selector>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/slavko-blagojevi%C4%87/" target="_blank"><i
            class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/slavko_blagojevic/" target="_blank"><i
            class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/slavko.blagojevic" target="_blank"><i
            class="fa-brands fa-square-facebook"></i></a>
      </div>
    </ion-content>
  </ion-menu>
</div>

<!-- DESKTOP HEADER -->
<div class="desktop-header">
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <!--Logo-->
        <ion-col size="2" class="ion-text-left logo-container">
          <div class="logo" routerLink="/home" routerDirection="root">
            <h1>SB</h1>
            <p>Slavko<br> Blagojevic</p>
          </div>
        </ion-col>
        <!--Navigation-->
        <ion-col size="8" class="ion-text-right navigation-container">
          <ion-button fill="clear" color="dark" routerLink="/home" routerDirection="root"
            routerLinkActive="active-item">
            {{ 'ap_home' | translate }}
          </ion-button>
          <ion-button fill="clear" color="dark" routerLink="/contact" routerDirection="root"
            routerLinkActive="active-item">
            {{ 'ap_contact' | translate }}
          </ion-button>
          <ion-button fill="clear" color="dark" routerLink="/about" routerDirection="root"
            routerLinkActive="active-item">
            {{ 'ap_about' | translate }}
          </ion-button>
          <!-- <ion-button fill="clear" color="dark" routerLink="/weather" routerDirection="root"
            routerLinkActive="active-item">
            {{ 'ap_weather' | translate }}
          </ion-button> -->
        </ion-col>
        <!--Language selector-->
        <ion-col size="2" class="ion-text-right">
          <div class="language-selector">
            <app-language-selector [header]="true"></app-language-selector>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
</div>