@media (max-width: 922px) {
    .mobile-header {
        display: block;
    }

    .desktop-header {
        display: none;
    }
}

@media (min-width: 922px) {
    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: block;
    }
}

//MOBILE HEADER
.mobile-header {

    .close-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-left: 40px;
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-direction: row;

        h1 {
            font-size: 35px;
            font-weight: 700;
            margin: 0;
            font-family: 'Vollkorn';
            color: var(--color-black);
            
            &:hover {
                cursor: pointer;
            }
        }

        p {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
            font-family: 'Vollkorn';
            color: var(--color-black);

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    div.items {
        margin-bottom: 50px;

        color: var(--color-secondary);
        font-weight: 600;
    
        ion-icon {
            color: var(--color-secondary);
        }
    }
    
    .active-item {
        color: var(--color-primary-dark);
        font-weight: 600;
    
        ion-icon {
            color: var(--color-primary-dark) !important;
        }
    }

    .social-icons {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .social-icons a {
        text-decoration: none;
        margin-right: 15px;
        font-size: 30px;
        color: var(--color-secondary);
        display: inline-block;
        transition: transform 0.5s;
    }
    
    .social-icons a:hover {
        color: var(--color-primary-dark);
        transform: translateY(-5px);
    }
}

//DESKTOP HEADER
.desktop-header {
    ion-header {
        height: 125px;

        ion-toolbar {
            height: 100%;
        }

        ion-row {
            height: 125px;
            padding-left: 10%;
            padding-right: 10%;
    
            ion-col {
                ion-button {
                    font-weight: 700;
                }
            }
        }

    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            h1 {
                font-size: 45px;
                font-weight: 700;
                margin: 0;
                font-family: 'Vollkorn';
                color: var(--color-black);
                &:hover {
                    cursor: pointer;
                }
            }

            p {
                font-size: 15px;
                font-weight: 600;
                margin: 0;
                font-family: 'Vollkorn';
                color: var(--color-black);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .navigation-container {
        padding-right: 20px;
        font-family: 'Garamond';
    }


    .language-selector {
        padding: 5px;
    }

    .active-item {
        border-bottom:  2px solid var(--color-secondary);
    }
}