<div class="first-slide-container">
  <div class="upper-part">
      <app-intro-upper-part></app-intro-upper-part>
  </div>
  <div class="wrapper-container">
      <div class="icons-container">
        <img src="assets/logos/angular.svg">
        <img src="assets/logos/css.svg">
        <img src="assets/logos/html.svg">
        <img src="assets/logos/ionic.svg">
      </div>
      <div class="text-container">
          {{ 'ap_intro_first_slide' | translate }}
      </div>
  </div>
</div>

