.first-slide-container {
    height: 100svh;
    background: url('/assets/images/intro/intro-first-slide.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media only screen and (min-width: 992px) {
        background: url('/assets/images/intro/intro-first-slide_16-9.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .text-container {
            font-size: 20px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        // height: 100px;
        color: #000000;
        background-image:
                    linear-gradient(to bottom , #000000, rgba(0,128,128,0) 400px);
    }

    &:after {
        content: '';
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        // height: 100px;
        color: #000000;
        background-image:
                    linear-gradient(to top , #000000, rgba(0,128,128,0) 600px);
    }

}
.wrapper-container {
    position: absolute;
    bottom: 150px;
    opacity: 1;
    color: white;
    z-index: 999999;
}

.icons-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    color: white;
    //padding-left: 80px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    
    img {
        margin-right: 30px;
        width: 40px;
    }
}



.text-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    color: white;
    font-weight: 700;
    text-align: start;
    line-height: 1.3;
    //padding-left: 80px;
    margin-bottom: 50px;
    font-size: 14px;
    
    span {
        color: var(--ion-color-primary);
    }
}

@media only screen and (max-width: 768px) {
    .icons-container {
        font-size: 28px;
    }

}