<app-header></app-header>

<ion-content>
  <div class="first-section">
    <div class="upper-container">
      <div class="left fadeInLeft">
        {{'ap_keep_in_touch' | translate}}
      </div>
      <div class="right">
        <img src="assets/images/homepage/homel1.jpg" class="contact-image">
      </div>
    </div>
    <div class="contact-details-container fadeInBottom">
      <h1 class="title">
        {{ 'ap_contact_details' | translate }}
      </h1>
      <div class="details">
        <h3 class="details-title">{{ "ap_web_developer" | translate | uppercase }}</h3>
        <p>
          <strong>Slavko Blagojevic<br></strong>
          Hajduk Veljka 23,<br>
          21000 Novi Sad<br>
          <i class="fa-solid fa-envelope"></i><a href="mailto:blagojevic89@gmail.com">blagojevic89&#64;gmail.com<br></a>
          <i class="fa-solid fa-phone"></i><a href="tel:+381644913632">+381 64 491 36 32</a>
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/slavko-blagojevi%C4%87/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.instagram.com/slavko_blagojevic/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.facebook.com/slavko.blagojevic" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        </div>
        <div class="cv-download">
          <a href="assets/cv/cv.pdf" download class="btn">{{ 'ap_download_cv' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
</ion-content>
