.first-section{
    width: 100%;
    height: fit-content;
    background: var(--color-secondary);
    padding: 0 0 50px 0;
    background: var(--color-primary);

    .upper-container {
        
        //desktop
        @media (min-width: 922px) {
            max-width: 85vw;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60vh;
            gap: 20px;
        
            .left {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4vw;
                background: var(--color-primary);
                font-family: 'Garamond';
            }
        
            .right {
                background: var(--color-primary);

                .contact-image {
                    height: 100%;
                    width: 100%;
                    //background-position: center;
                    //background-repeat: no-repeat;
                    //background-size: cover;
                }
            }
        }
    
        //mobile
        @media (max-width: 922px) {
            max-width: 85vw;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr;
            //grid-template-rows: 400px 400px;
        
            .left {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 7vw;
                background: var(--color-primary);
                height: 20vh;
                font-family: 'Garamond';
            }
        
            .right {
                height: auto;
                width: 100%;
                background: var(--color-primary);
            }
        }
    }

    //desktop
    .contact-details-container {
        padding-top: 40px;
        background: var(--color-primary);
        height: fit-content;
        max-width: 85vw;
        margin-left: auto;
        margin-right: auto;

        .title {
            text-align: center;
            font-size: 2.5vw;
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Garamond';
        }

        .details {
            margin-top: 40px;
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid var(--color-primary-dark);

            .details-title {
                color: var(--color-primary-dark);
            }

            p {
                font-size: 20px;
                line-height: 1.6;
                font-weight: 300;
                color: var(--color-secondary);
            }

            a {
                color: var(--color-secondary);
                text-decoration: none;
            }

            i.fa-solid {
                margin-right: 10px;
            }

            a:hover {
                text-decoration: underline;
            }

            .social-icons {
                margin-top: 30px;
            }
            
            .social-icons a {
                text-decoration: none;
                margin-right: 15px;
                font-size: 30px;
                color: var(--color-secondary);
                display: inline-block;
                transition: transform 0.5s;
            }
            
            .social-icons a:hover {
                color: var(--color-primary-dark);
                transform: translateY(-5px);
            }

            .btn {
                display: inline-block;
                width: max-content;
                text-decoration: none;
                border: 1px solid var(--color-primary-dark);
                border-radius: 6px;
                padding: 14px 50px;
                color: var(--color-secondary);
                transition: background 0.5s;
                background: var(--color-primary);
                cursor: pointer;
            }
            
            .btn:hover {
                text-decoration: none;
                background: var(--color-primary-dark);
                color: var(--color-white);
            }

            .cv-download {
                margin-top: 30px;
            }
        }
    }

    //mobile
    @media (max-width: 922px) {
        .contact-details-container {
            width: 100%;
            padding-top: 40px;

            .title {
                text-align: center;
                font-size: 5vw;
                min-width: 100%;
            }

            .details {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}