<ion-select *ngIf="!header" 
            [(ngModel)]="selectedLanguage" 
            [label]="'ap_menu_language' | translate"
            fill="outline"
            label-placement="floating"
            [interface]="false ? 'action-sheet' : 'popover'"
            [cancelText]="'ap_cancel' | translate"
            (ionChange)="setLanguage()"
            [style.width]="intro ? '100%' : 'auto'"
            [class.primary]="primaryColorIcons"
            [ngStyle]="{
              'color': whiteColor ? 'var(--ion-color-light)' 
                                  : 'var(--ion-color-dark)',
              '--border-color': gray ? '#ece9e9' 
                                     : 'var(--ion-color-light)'
            }">
  <ion-icon name="language" [color]="primaryColorIcons ? 'primary' : 'light'" slot="start"></ion-icon> <!-- style="margin-left: 8px;" -->
  <ion-select-option *ngFor="let language of languages"
                     [value]="language.id">
    {{ language.tag | translate }}
  </ion-select-option>
</ion-select>
<ion-select *ngIf="header" 
            [(ngModel)]="selectedLanguage" 
            [interface]="'popover'"
            [fill]="outline ? 'outline' : ''"
            [cancelText]="'ap_cancel' | translate"
            (ionChange)="setLanguage()"
            [style.width]="'180px'"
            [class.primary]="primaryColorIcons"
            >
  <ion-icon name="language" [style.color]="'var(--color-primary-dark)'" slot="start"></ion-icon>
  <ion-select-option *ngFor="let language of languages"
                     [value]="language.id">
    {{ language.tag | translate }}
  </ion-select-option>
</ion-select>

