ion-select {
    --border-radius: 6px;
    --ripple-color: var(--color-primary-dark);
    --highlight-color-focused: var(--color-primary-dark);
    --highlight-color-valid: var(--color-primary-dark);
   
    &.primary {
        ion-icon {
            margin-left: 2px;
            font-size: 24px;
        }
    }

}