.btn {
    display: block;
    width: max-content;
    text-decoration: none;
    border: 1px solid var(--color-primary-dark);
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-secondary);
   /*  transition: background 0.5s;
    transition: color 0.5s; */
    background: var(--color-primary);
    cursor: pointer;

    @media (max-width: 768px) {
        padding: 7px 20px;
        font-size: 15px;
    }
}

.btn:hover {
    text-decoration: none;
    background: var(--color-primary-dark);
    color: var(--color-dark);
}

.btn.background {
    color: var(--color-white);
    background: var(--color-primary-dark);
}

.btn.background:hover {
    color: var(--color-black);
} 
