<app-header></app-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>

        <!--BASIC INFO-->
        <ion-card class="ion-margin basic-info day" *ngIf="weatherData">
          <div class="wrapper">
            <!-- Left part -->
            <ion-card-content class="left">
              <ion-card-title>{{ weatherData.main.temp | number:"1.1-1" }}&#176;</ion-card-title>
              <ion-card-subtitle class="settlement">{{ weatherData.name }}</ion-card-subtitle>
              <ion-card-subtitle>{{ 'ap_feels_like' | translate }} {{ weatherData.main.feels_like }}&#176;</ion-card-subtitle>
              <ion-card-subtitle>{{ 'ap_min' | translate }} {{ weatherData.main.temp_min | number:"1.1-1" }}&#176; &#8226; 
                                 {{ 'ap_max' | translate }} {{ weatherData.main.temp_max | number:"1.1-1" }}&#176;
              </ion-card-subtitle>
            </ion-card-content> 
            <!-- Right part -->
            <ion-card-content class="right">
              <img [src]="weatherIconBaseUrl + weatherData.weather[0].icon + '@2x.png'">
            </ion-card-content>
          </div>
        </ion-card>
        <!--HOURLY FORECAST-->
        <div class="hourly-forecast" *ngIf="weatherForecastData">
          <ion-card class="ion-margin" color="light">
            <ion-card-header>
              <ion-card-title>{{ 'ap_hourly_forecast' | translate }}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <div class="hours">
                <div *ngFor="let hourlyData of weatherForecastData.list.slice(0, 24); let last = last; let first = first;" 
                     class="hour" 
                     [ngClass]="{ 'no-border': last }"
                     >
                    <p class="time">{{ convertDateFormat(hourlyData.dt) }}</p>
                    <p>{{ hourlyData.main.temp | number:".1-1" }}&#176;</p>
                    <img class="dailyIcon" [src]="weatherIconBaseUrl + hourlyData.weather[0].icon + '@2x.png'">
                </div>
              </div>
            </ion-card-content>
            
          </ion-card>
        </div>

        <!--TODAY'S DETAILS-->
        <div class="todays-details" *ngIf="weatherData">
          <ion-card class="ion-margin" color="light">
            <ion-card-header>
              <ion-card-title>{{'ap_todays_details' | translate }}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-item color="light">
                <ion-icon aria-hidden="true" name="flag" slot="start"></ion-icon>
                <ion-label>{{ 'ap_wind' | translate }}</ion-label>
                <ion-label slot="end">{{ getWindSpeedKmPerHour(weatherData.wind.speed) }} km/h</ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-icon aria-hidden="true" name="chevron-collapse" slot="start"></ion-icon>
                <ion-label>{{ 'ap_pressure' | translate }}</ion-label>
                <ion-label slot="end">{{ weatherData.main.pressure }} mb</ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-icon aria-hidden="true" name="water" slot="start"></ion-icon>
                <ion-label>{{ 'ap_humidity' | translate }}</ion-label>
                <ion-label slot="end">{{ weatherData.main.humidity }}%</ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-icon aria-hidden="true" name="arrow-up" slot="start"></ion-icon>
                <ion-label>{{ 'ap_sunrise' | translate }}</ion-label>
                <ion-label slot="end">{{ convertDateFormat(weatherData.sys.sunrise) }}h</ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-icon aria-hidden="true" name="arrow-down" slot="start"></ion-icon>
                <ion-label>{{ 'ap_sunset' | translate }}</ion-label>
                <ion-label slot="end">{{ convertDateFormat(weatherData.sys.sunset) }}h</ion-label>
              </ion-item>
            </ion-card-content>
            
          </ion-card>
        </div>

        <div class="weatherapi-logo">
          <a href="https://www.weatherapi.com/" title="Free Weather API"  target="_blank">
              <img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com">
          </a>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-footer></app-footer>
</ion-content>
