ion-grid {
    --ion-grid-width-md: 384px;
    --ion-grid-width-lg: 480px;
    --ion-grid-width-xl: 678px;

    --ion-grid-padding: 0;
}
  
ion-col {
    padding: 0;
}


$mobileWidthGradient: 50px;
$desktopWidthGradient: 70px;

ion-content {
    ion-card {
        border-radius: 16px;
    }
}

/* BASIC INFOR */
ion-card.basic-info {
    //background: linear-gradient(to right, rgb(42, 105, 177), rgb(171, 210, 255) 100%);
    &.day {
        background: linear-gradient(45deg, #0163aa, #1ca2f5 50%);
    }

    &.night {
        background: linear-gradient(45deg, #032a47, #0e70ad 50%);
    }

    .wrapper {
        display: flex; 
        align-items: center;
        
        ion-card-content {
            flex: 1;
            
            ion-card-title, ion-card-subtitle {
                --color: rgb(255, 255, 255);
            }

            &.left {
                ion-card-title {
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            &.right {
                display: flex; 
                justify-content: center; 
                align-items: center;
            }

            img {
                height: 90px;
            }
        }

        ion-card-subtitle.settlement {
            font-size: 16px;
            font-weight: 800;
        }
    }

}

/* HOURLY FORECAST */
.hourly-forecast {
    .hours {
        display: flex;
        flex-direction: row;
        overflow-x: auto;

        .hour {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            min-width: 100px;
            padding: 0 20px;
            width: 20%;
            border-right: 1px solid rgb(211, 211, 211);

            &.no-border {
                border-right: unset;
            }

            p.time {
                color: var(--ion-color-medium);
                //margin-bottom: 10px;
                margin: 0 30px;
            }
        }

        .dailyIcon {
            background: var(--ion-color-primary);
            border-radius: 15px;
        }
    }
}

/* DETAILS */
.todays-details {
    ion-card-content {
        ion-item {
            ion-icon {
                font-size: 15px;
                color: rgb(0, 0, 0);
            }

            ion-label {
                font-size: 15px;
            }
        }
    }
}

//WEATHER LOGO
div.weatherapi-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 20px;
}

