<app-header></app-header>

<ion-content>
  <div class="wraper">
    <!-- About -->
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="about-col-1 fadeInLeft">
            <img src="assets/images/about/sl23.png" alt="" />
          </div>
          <div class="about-col-2">
            <h1 class="sub-title fadeInRight">
              {{ 'ap_about_me' | translate }}
            </h1>
            <p class="fadeInRight text-about">
              {{ 'ap_about_me_text' | translate }}
            </p>
            <div class="tab-titles">
              <ion-segment [(ngModel)]="segment" [scrollable]="true">
                <ion-segment-button value="skills">
                  <ion-label>{{ 'ap_skills' | translate }}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="experience">
                  <ion-label>{{ 'ap_experience' | translate}}</ion-label>
                </ion-segment-button>
                <ion-segment-button value="education">
                  <ion-label>{{ 'ap_education' | translate}}</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>
            <div [ngSwitch]="segment" class="tab-content-container fadeInBottom">
              
              <div *ngSwitchCase="'skills'">
                <ul>
                  <li><span>Frontend Technologies:</span><br />Angular, JavaScript, TypeScript, HTML, CSS, Ionic</li>
                  <li>
                    <span>Backend & API:</span><br />AJAX, JSON, REST API, SQL
                  </li>
                  <li>
                    <span>Tools & Frameworks:</span><br />Git, Bootstrap, October CMS, Postman
                  </li>
                  <li>
                    <span>Methodologies:</span><br /> Agile Methodologies, SPA
                  </li>
                </ul>
              </div>

              <div *ngSwitchCase="'experience'">
                <ul>
                  <li>
                    <span>2022 - {{'ap_current' |  translate }}</span><br />Manufaktura Doo Subotica	
                    <br>
                    {{ "ap_manufaktura_experience" | translate }}							              
                  </li>
                  <li>
                    <span>2018 - 2022</span><br />Signal Sombor		
                  </li>
                  <li>
                    <span>2014 - 2018</span><br />Tremak DOO Sombor		
                  </li>
                </ul>
              </div>

              <div *ngSwitchCase="'education'">
                <ul>
                  <li>
                    <span>2008-2014</span><br />{{ "ap_ftn" | translate }}					
                  </li>
                  <li>
                    <span>2004-2008</span><br />{{ "ap_high_school" | translate }} <br>
                    {{ "ap_sts" | translate }}						
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</ion-content>
