.wraper {

    background: var(--color-primary);

    /* -----About----- */
    #about {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 80px 0;
        color: var(--color-secondary);
    }
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .about-col-1 {
        flex-basis: 30%;
    }
    
    .about-col-1 img {
        width: 100%;
        border-radius: 15px;
    }
    
    .about-col-2 {
        flex-basis: 65%;
        font-family: 'Garamond';
    }
    
    .sub-title {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Garamond';
        color: var(--color-secondary);
    }

    p.text-about {
        font-size: 22px;
    }

    .tab-content-container {
        font-size: 22px;
    }

    ion-segment-button {
        /* margin: 0;
        padding: 0;
        width: 100%; */
        --indicator-color: var(--color-secondary);
        /* font-size: 12px;
        font-weight: 600;
        font-family: 'Garamond'; */
    }

    ion-label {
        /* margin: 0;
        padding: 0;
        min-width: 100%; */
    }
      
    ion-segment-button.md {
        --color: var(--color-secondary);
        --color-checked: var(--color-secondary);
        /* --indicator-height: 2px;
        font-family: 'Garamond'; */
    }

    ion-segment-button.ios {
        --color: var(--color-secondary);
        --color-checked: var(--color-primary-dark);
        /* --indicator-height: 2px;
        font-family: 'Garamond'; */
    }

}

/* -----Small screens----- */
@media (max-width: 768px) {

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100% !important;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 16px;
    }
}