// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

    /* Breakpoints */
      --mobile-breakpoint: 768px;
      --mobile-breakpoint-second: 922px;

    /* Custom design*/
      --color-primary: rgb(240, 228, 222);  //beige
      --color-primary-dark: rgb(207, 163, 114); //beige dark
      --color-primary-light: rgb(250, 245, 242); //beige light
      --color-secondary: rgb(0, 33, 71); //navy-blue
      --color-contrast: rgb(255, 132, 109);
      --color-white: rgb(255, 255, 255); 
      --color-black: rgb(0, 0, 0);
      --color-gray: rgb(51, 51, 51);
      --color-gray-light: rgb(160, 160, 160);
      --color-whatsapp: #25d366;

    /** primary **/
      --ion-color-primary: #1ca2f5;
      --ion-color-primary-rgb: 28,162,245;
      --ion-color-primary-contrast: #ffffff;
      --ion-color-primary-contrast-rgb: 0,0,0;
      --ion-color-primary-shade: #198fd8;
      --ion-color-primary-tint: #33abf6;
  
    /** secondary **/
      --ion-color-secondary: #0163aa;
      --ion-color-secondary-rgb: 1,99,170;
      --ion-color-secondary-contrast: #ffffff;
      --ion-color-secondary-contrast-rgb: 255,255,255;
      --ion-color-secondary-shade: #015796;
      --ion-color-secondary-tint: #1a73b3;
  
    /** tertiary **/
      --ion-color-tertiary: #8bd5fd;
      --ion-color-tertiary-rgb: 139,213,253;
      --ion-color-tertiary-contrast: #000000;
      --ion-color-tertiary-contrast-rgb: 0,0,0;
      --ion-color-tertiary-shade: #7abbdf;
      --ion-color-tertiary-tint: #97d9fd;
  
    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
  
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
  
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  
    /** black **/
      --ion-color-black: #000000;
      --ion-color-black-rgb: 0,0,0;
      --ion-color-black-contrast: #ffffff;
      --ion-color-black-contrast-rgb: 255,255,255;
      --ion-color-black-shade: #000000;
      --ion-color-black-tint: #1a1a1a;
  
    /** g-light **/
    --ion-color-glight: #f4f5f8;
    --ion-color-glight-rgb: 244, 245, 248;
    --ion-color-glight-contrast: #000000;
    --ion-color-glight-contrast-rgb: 0, 0, 0;
    --ion-color-glight-shade: #d7d8da;
    --ion-color-glight-tint: #f5f6f9;
  
    /** g-dark **/
    --ion-color-gdark: #222428;
    --ion-color-gdark-rgb: 34, 36, 40;
    --ion-color-gdark-contrast: #ffffff;
    --ion-color-gdark-contrast-rgb: 255, 255, 255;
    --ion-color-gdark-shade: #1e2023;
    --ion-color-gdark-tint: #383a3e;
  }
  
  .ion-color-black {
      --ion-color-base: var(--ion-color-black);
      --ion-color-base-rgb: var(--ion-color-black-rgb);
      --ion-color-contrast: var(--ion-color-black-contrast);
      --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
      --ion-color-shade: var(--ion-color-black-shade);
      --ion-color-tint: var(--ion-color-black-tint);
  }
  
  .ion-color-glight {
    --ion-color-base: var(--ion-color-glight);
    --ion-color-base-rgb: var(--ion-color-glight-rgb);
    --ion-color-contrast: var(--ion-color-glight-contrast);
    --ion-color-contrast-rgb: var(--ion-color-glight-contrast-rgb);
    --ion-color-shade: var(--ion-color-glight-shade);
    --ion-color-tint: var(--ion-color-glight-tint);
  }
  
  .ion-color-gdark {
    --ion-color-base: var(--ion-color-gdark);
    --ion-color-base-rgb: var(--ion-color-gdark-rgb);
    --ion-color-contrast: var(--ion-color-gdark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gdark-contrast-rgb);
    --ion-color-shade: var(--ion-color-gdark-shade);
    --ion-color-tint: var(--ion-color-gdark-tint);
  }