<ion-app>
  <!-- Router-outlet -->
  <ion-router-outlet></ion-router-outlet>
  <!-- WhatsApp -->
  <ng-container *ngIf="currentRoute !== '/intro'">
    <a class="whatsapp" href="tel:+381644913632">
      <img src="assets/logos/call.svg" width="25px" >
    </a>
  </ng-container>
</ion-app>
