a.whatsapp {
    position: absolute;
    right: 50px;
    bottom: 30px;
    background: var(--color-primary-dark);
    color: var(--color-white);
    text-decoration: none;
    outline: none;
    padding: 12px;
    border-radius: 50%;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

a.whatsapp:hover {
    -webkit-box-shadow: -7px 7px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 25px 0px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 25px 0px rgba(0,0,0,0.75);
}

@media (max-width: 768px) {
    a.whatsapp {
        font-size: 12px;
        font-weight: 400;
        right: 20px;
        bottom: 40px;
    }
}