.first-section{
    width: 100%;
    height: fit-content;
    //padding: 0 0 50px 0;
    background: var(--color-primary);

    .upper-container {
        
        //desktop
        @media (min-width: 922px) {
            max-width: 85vw;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60vh;
            gap: 20px;
        
            .left {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: flex-start;
                font-size: 3vw;
                background: var(--color-primary);
                font-family: 'Garamond';

                .title span {
                    color: var(--color-contrast);
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: start;
                }
            }
        
            .right {
                background: var(--color-primary);

                .contact-image {
                    height: 100%;
                    width: 100%;
                    //background-position: center;
                    //background-repeat: no-repeat;
                    //background-size: cover;
                }
            }
        }
    
        //mobile
        @media (max-width: 922px) {
            max-width: 100vw;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 1fr;
            //grid-template-rows: 400px 400px;
        
            .left {
                max-width: 85vw;
                margin-left: auto;
                margin-right: auto;
                padding-top: 60px;
                padding-bottom: 60px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: flex-start;
                font-size: 8vw;
                background: var(--color-primary);
                height: max-content;
                font-family: 'Garamond';
            
                .title span {
                    color: var(--color-contrast);
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: start;
                }
            }
        
            .right {
                height: auto;
                width: 100%;
                background: var(--color-primary);
            }
        }
    }

    .bottom-container {
        height: fit-content;
        background: linear-gradient(2deg, rgba(0,33,71,1) 0%, rgba(0,33,71,1) 35%, rgba(0,80,172,1) 100%);
        color: var(--color-white);

        //desktop
        @media (min-width: 922px) {
            .content {
                padding: 40px 0;
                max-width: 85vw;
                margin-left: auto;
                margin-right: auto;

                .bottom-header p {
                    font-size: 12px;
                    margin: 0;
                    padding: 0;
                }
                
                .bottom-header h1 {
                    margin: 0;
                    padding: 0;
                    font-family: 'Garamond';
                    font-size: 35px;
                }
                
                .icons-container {
                    height: fit-content;
                    padding: 50px 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;
                    color: var(--color-white);

                    .tools {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        font-size: 14px;
                        justify-content: space-between;
                        align-items: center;
                        color: var(--color-white);
                        
                        img {
                            width: 60px;
                        }
                    }
                    
                }

                ion-button {
                    --background: var(--color-secondary);
             /*        --background-hover: #9ce0be;
                    --background-activated: #88f4be;
                    --background-focused: #88f4be; */
                  
                    --color: var(--color-white);
                  
                    --border-radius: 0;
                    --border-color: var(--color-white);
                    --border-style: solid;
                    --border-width: 1px;
                  
                    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
                  
                    --ripple-color: var(--color-primary-dark);
                  
                    --padding-top: 10px;
                    --padding-bottom: 10px;
                  }
            }

        }

        //mobile
        @media (max-width: 922px) {
            .content {
                padding: 40px 0;
                max-width: 85vw;
                margin-left: auto;
                margin-right: auto;

                .bottom-header p {
                    font-size: 12px;
                    margin: 0;
                    padding: 0;
                }
                
                .bottom-header h1 {
                    margin: 0;
                    padding: 0;
                    font-family: 'Garamond';
                    font-size: 30px;
                }
                
                .icons-container {
                    padding: 50px 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;
                    color: var(--color-white);

                    .tools {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        font-size: 12px;
                        justify-content: space-between;
                        align-items: center;
                        color: var(--color-white);
                        
                        img {
                            width: 30px;
                        }
                    }
                    
                }

                ion-button {
                    --background: var(--color-secondary);
                /*        --background-hover: #9ce0be;
                    --background-activated: #88f4be;
                    --background-focused: #88f4be; */
                    
                    --color: var(--color-white);
                    
                    --border-radius: 0;
                    --border-color: var(--color-white);
                    --border-style: solid;
                    --border-width: 1px;
                    
                    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
                    
                    --ripple-color: var(--color-primary-dark);
                    
                    --padding-top: 10px;
                    --padding-bottom: 10px;
                    }
            }

        }
    }

}