<app-header></app-header>

<ion-content>

  <div class="first-section">
    <div class="upper-container">
      <div class="left ">
        <div class="title fadeInLeft">
          {{ 'ap_hi_there' | translate }} <span>Slavko Blagojevic</span><br>
          {{ 'ap_web_developer' | translate }}<span>.</span>
        </div>
        <div class="text"></div>
        <div class="buttons">
          <app-custom-button [path]="'contact'" [name]="'ap_contact'" [background]="true"></app-custom-button>
          <app-custom-button [path]="'about'" [name]="'ap_about'" ></app-custom-button>
        </div>
      </div>
      <div class="right">
        <img src="assets/images/homepage/homel3.jpg" class="contact-image">
      </div>
    </div>
    <div class="bottom-container">
      <div class="content">
        <div class="bottom-header">
          <p>{{ 'ap_skills_tools' | translate }}</p><br>
          <h1>
            {{ 'app_skills_title' | translate }}
          </h1>
        </div>
        <div class="icons-container">
          <div class="tools">
            <img src="assets/logos/angular.svg">
            Angular
          </div>
          <div class="tools">
            <img src="assets/logos/css.svg">
            CSS
          </div>
          <div class="tools">
            <img src="assets/logos/html.svg">
            HTML
          </div>
          <div class="tools">
            <img src="assets/logos/responsive-design.svg">
            Responsive
          </div>
          <div class="tools">
            <img src="assets/logos/bootstrap.svg">
            Bootstrap
          </div>
          <div class="tools">
            <img src="assets/logos/ionic.svg">
            Ionic
          </div>
          <div class="tools">
            <img src="assets/logos/git.svg">
            Git
          </div>
          <div class="tools">
            <img src="assets/logos/firebase.svg">
            Firebase
          </div>
          
        </div>
        <ion-button fill="outline" routerLink="/about" routerDirection="root">
          {{ 'ap_read_more' | translate }}...
        </ion-button> 
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
