ion-grid {
    /*     --ion-grid-width-md: 384px;
        --ion-grid-width-lg: 480px;
        --ion-grid-width-xl: 570px;
     */
        --ion-grid-padding: 0;
    }
      
    ion-col {
        padding: 0;
}

.skipButton {
    position: absolute;
    bottom: 50px;
    left: 20px;
    z-index: 999999;
    font-weight: 650;
    margin: 0;
}

.nextButton {
    position: absolute;
    bottom: 50px;
    right: 20px;
    z-index: 999999;
    font-weight: 650;
    margin: 0;
}


ion-content {
    --background: rgb(0, 0, 0);
}

@media (min-width: 768px) {
    .skipButton {
        left: 50px;
    }

    .nextButton {
        right: 50px;
    }
}