<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <swiper [effect]="'fade'"
                [initialSlide]="0"
                [grabCursor]="true"
                [centeredSlides]="true"
                [slidesPerView]="'auto'"
                [keyboard]="false"
                [allowTouchMove]="false"
                [cardsEffect]="{
                  perSlideOffset: 2,
                  perSlideRotate: 4,
                  rotate: true,
                  slideShadows: false
                }"  
                [navigation]="false"
                [pagination]="{clickable: true}"
                (reachEnd)="sliderReachEnd = true;"
                (slideChange)="slideChanged($event)"
                (keyPress)="keyPressed($event, $event)"
                class="intro-swiper"
                #introSwiper>
        
                <ng-template swiperSlide>
                  <app-intro-first-slide></app-intro-first-slide>
                </ng-template>
                <ng-template swiperSlide>
                  <app-intro-second-slide></app-intro-second-slide>
                </ng-template>

        </swiper>

        <ion-button *ngIf="activeIndex === 0" class="skipButton"
                    fill="clear" 
                    color="light" 
                    size="large"
                    (click)="skipAll()">
              {{ 'ap_skip' | translate }}
        </ion-button>
        <ion-button *ngIf="activeIndex === 0"
                    fill="clear" 
                    color="light" 
                    size="large"
                    class="nextButton" 
                    (click)="slideNext()">
              {{ 'ap_next' | translate }}
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>