<div class="second-slide-container">
  <app-intro-upper-part></app-intro-upper-part>
  <div class="wrapper-container">
      <div class="icons-container">
        <img src="assets/logos/angular.svg">
        <img src="assets/logos/css.svg">
        <img src="assets/logos/html.svg">
        <img src="assets/logos/ionic.svg">
      </div>
      <div class="text-container">
          {{ 'ap_second_slide_text' | translate }}
      </div>
  </div>
  <div class="button-start">
    <ion-button size="large" (click)="getStarted()" expand="full" shape="round">
        {{'ap_get_started' | translate }}
    </ion-button>
</div>
</div>